@import url('data:application/octet-stream;base64,QGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnOwogIGZvbnQtc3R5bGU6IG5vcm1hbDsKICBmb250LXdlaWdodDogNDAwOwogIHNyYzogbG9jYWwoJ09wZW4gU2FucyBSZWd1bGFyJyksIGxvY2FsKCdPcGVuU2Fucy1SZWd1bGFyJyksIHVybChodHRwczovL2ZvbnRzLmdzdGF0aWMuY29tL3Mvb3BlbnNhbnMvdjE0L2NKWktlT3VCcm40a0VSeHF0YVVIM2FDV2N5bmZfY0R4WHdDTHhpaXhHMWMudHRmKSBmb3JtYXQoJ3RydWV0eXBlJyk7Cn0K');
html, body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

.titulo {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
}

.numPasos{
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  color: #191f5f
}

.desPasos{
  font-family: 'Open Sans', sans-serif;
  font-size:2em;
  color: #666666
}

@media (max-width: 500px) {
   .numPasos { font-size: 2em; }
   .desPasos { font-size:1em; }
   .titulo { font-size: 1.5em; }
}





/* H1 - H6 font */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', sans-serif;
  ;
}


/* General Links */

a {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}
